* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  :root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
  
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
    --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
  }
  body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 15px;
  }
  
h1 {
    color: var(--very-light-gray);
    text-transform: uppercase;
    margin: 32px 0px;
    padding-bottom: 20px;
    
}

p {
  
  font-size: 16px; 
  line-height: 1.5; 
  color: var(--transparent-white);
  margin-bottom: 16px; 
}

.container {
    background-color: var(--very-light-gray);
    display: flex;
    margin-right: 120px;
    padding-top: 150px;
    padding-left: 180px;
    line-height: 15px;
    
}
.content1, .content2, .content3 {
  flex: 1 1 300px; /* Basis for each content block */
  padding: 46px;
  color: #fff;
  text-align: left;
}
.content1 {
    background-color: var(--bright-orange);
   
   

}
.content2 {
    background-color: var(--dark-cyan);
   
    

}
.content3 {
    background-color: var(--very-dark-cyan);
   

  }

.button1 {
  width: 125px;
  padding: 15px;
  border: none;
  border-radius: 60px;
  color: var(--bright-orange);
  background-color: var(--very-light-gray);
  margin-top: 60px;
  font-size: 15px;
  cursor: pointer;
  
}
.button1:hover{
  background-color: var(--bright-orange);
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);

}

.button2 {
  width: 125px;
  padding: 15px;
  border: none;
  border-radius: 60px;
  color: var(--dark-cyan);
  background-color: var(--very-light-gray);
  margin-top: 40px;
  font-size: 15px;
  cursor: pointer;
}
.button2:hover{
  background-color: var(--dark-cyan);
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);

}

.button3 {
  width: 125px;
  padding: 15px;
  border: none;
  border-radius: 60px;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-gray);
  margin-top: 60px;
  font-size: 15px;
  cursor: pointer;

}
.button3:hover{
  background-color: var(--very-dark-cyan);
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);

}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
    margin-top: auto;
   
  }

 
}